Django==1.9.1
Markdown==2.6.5
PyGithub==1.26.0
Pygments==2.0.2
django-debug-toolbar==1.4
django-extensions==1.6.1
django-markitup==2.3.0
django-model-utils==2.4
django-rosetta==0.7.8
docutils==0.12
gunicorn==19.4.5
ipython==4.0.3
newrelic==2.60.0.46
psycopg2==2.6.1
raven==5.10.2
requests==2.9.1
six==1.10.0
