Django==1.7.5
Markdown==2.6
PyGithub==1.25.2
Pygments==2.0.2
django-debug-toolbar==1.2.2
django-extensions==1.5.0
django-markitup==2.2.2
django-model-utils==2.2
django-rosetta==0.7.5
djorm-pgarray==1.2
docutils==0.12
gunicorn==19.3
ipython==2.4.1
newrelic==2.44.0.36
psycopg2==2.6
raven==5.2.0
requests==2.5.3
six==1.9.0
