{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}Download | {% endblock title %}

{% block extra-style %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css" type="text/css" />
{% endblock %}

{% block content %}
<section class="content">
  <h1>Download the library</h1>
  <p>The following descriptions apply to Aquila 3 only. For the older version, see the section <a href="#aquila25">Aquila 2.5</a> at the bottom of this page.</p>

  <h2>Binary releases</h2>
  <p>Soon to come.</p>

  <h2>Build from source</h2>
  <h3>Prerequisites</h3>
  <dl>
    <dt><a href="http://www.cmake.org/">CMake</a></dt>
    <dd>Aquila relies on CMake as a build tool, so make sure you have it installed (version 2.6 or later).</dd>
    <dt><a href="http://qt.nokia.com/">Qt</a> (optionally)</dt>
    <dd>All GUI examples use Qt as the widget toolkit. Qt is an extensive and cross-platform UI framework.</dd>
    <dt><a href="http://www.sfml-dev.org/">SFML</a> (optionally)</dt>
    <dd>SFML was chosen as media playback and acqusition library.</dd>
  </dl>

  <h3>Get the code</h3>
  <p>As the library is still under development and changes are made frequently, it is advised to get the code from version control system. Simply clone <a href="https://github.com/zsiciarz/aquila">our official Git repository</a> using the command below, which will create a directory called <code>aquila-src</code> and place there the source code of the library.</p>
  <div class="highlight"><pre><code>git clone git://github.com/zsiciarz/aquila.git aquila-src</code></pre></div>
  <p>If you do not have Git installed, below are download links to most up-to-date code in master branch (also directing to Github):</p>
  <ul>
    <li><a href="https://github.com/zsiciarz/aquila/tarball/master">tarball (.tar.gz archive)</a></li>
    <li><a href="https://github.com/zsiciarz/aquila/zipball/master">.zip archive</a></li>
  </ul>

  <h3>Short digression about where to build</h3>
  <p>CMake encourages <em>out-of-source</em> builds, which means that the resulting binaries will be created in a directory that is separate from the place where source code lives. This is a good practice as object files, executables and various other generated files don't clutter the source directory. Therefore we recommend building Aquila out-of-source. Let's assume a following directory structure:</p>
  <div class="highlight"><pre><code>a-top-level-directory/
   aquila-build/
   aquila-src/</code></pre></div>
  <p>Here, <code>aquila-src</code> is the directory where source code is located (either cloned from Git repository or unpacked from the archive). <code>aquila-build</code> is the place where the actual build will happen.</p>

  <h3>Configuration</h3>
  <p>The following options can be set at command-line to configure build:</p>
  <dl>
    <dt><code>-DCMAKE_INSTALL_PREFIX</code></dt>
    <dd>The directory where you want Aquila to be installed. This setting does not affect the build step, it only tells <code>make install</code> where to copy compiled libraries and header files.</dd>
  </dl>
  <p>An example CMake invocation follows (with Windows-specific settings):</p>
  <div class="highlight"><pre><code>cmake ..\aquila-src
    -DCMAKE_INSTALL_PREFIX="D:\Libs\aquila"</code></pre></div>
  <p>Note: I've placed the arguments to <code>cmake</code> in multiple lines for clarity, but in reality this statement should be a one-liner.</p>

  <h3>Build and install</h3>
  <p>Windows (MinGW) users should replace <code>make</code> with <code>mingw32-make</code> in the instructions below.</p>
  <div class="highlight"><pre><code>make
make install</code></pre></div>
  <p>If all goes well, the library will build and then install to the specified path. The <code>make install</code> step may require administrator rights. That's it - the library is now built, installed and <strong>ready to use</strong>.</p>

  <h3>Examples and tests</h3>
  <p>To see what the library can do, run <code>make examples</code> after installation, while still in the build directory. This will build several example programs showing some of Aquila features (some of these examples are <a href="{% url 'articles-example_list' %}">here on the site</a>). These programs can then be found in the <em>examples</em> subdirectory of the build directory. Building and running tests is covered on the <a href="{% url 'dev' %}">Development</a> page.</p>

  <h2 id="aquila25">Aquila 2.5</h2>
  <p>An older version of the library is hosted at <a href="http://code.google.com/p/aquila/">Google Code</a>. Installation is more complex as the build configuration is quite fragile. The process is described at the <a href="http://code.google.com/p/aquila/wiki/Installation">project's wiki</a>.</p>
</section>
{% endblock content %}
