{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ article.title }} | {% endblock title %}

{% block extra-style %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css" type="text/css" />
{% endblock %}

{% block content %}
  <section class="content">
    <h1>{{ article.title }}</h1>
    {% include "articles/article_meta.html" %}
    {{ article.content|safe }}

    <a class="back-to-list" href="{% url 'articles-article_list' %}">&laquo; Return to list</a>
  </section>
{% endblock %}
