{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load taggit_extras %}

{% block title %}{% trans "Articles archive" %} | {% endblock title %}

{% block content %}
  <section class="content">
    <h1>{% block content-title %}{% trans "News archive" %}{% endblock %}</h1>
    {% for article in article_list %}
    <h2>
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </h2>
    {% include "articles/article_meta.html" %}
    {{ article.content|safe|truncatewords_html:30 }}
    {% endfor %}
    <aside>
    <div>
        <h1>Tags</h1>
        {% get_tagcloud as tags %}
        {% for tag in tags %}
            <a href="{% url 'articles-tagged_article_list' tag=tag.name %}" rel="tag">{{ tag.name }}</a>
        {% endfor %}
    </div>
    </aside>
  </section>
{% endblock content %}
