{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Articles archive" %} | {% endblock title %}

{% block content %}
  <section class="content">
    <h1>{% block content-title %}{% trans "News archive" %}{% endblock %}</h1>
    {% for article in article_list %}
    <h2>
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </h2>
    <h3 class="meta">
        {{ article.created }}
        {% if article.tags.all %}
            <span class="tags">
                {% trans "tags" %}: {{ article.tags.all|join:", " }}
            </span>
        {% endif %}
    </h3>
    {{ article.content|safe|truncatewords_html:30 }}
    {% endfor %}
  </section>
{% endblock content %}
